.body-defaults {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form-container {
    height: fit-content;
    width: 40rem;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}